/* Font Family - Figtree */
@font-face {
    font-family: 'Figtree';
    src: url(./assets/fonts/Figtree-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(47, 88%, 63%);
    font-size: 16px;
    padding: 2rem;
    font-family: 'Figtree', sans-serif;
    line-height: 1.5rem;
}

main{
    background-color: hsl(0, 0%, 100%);
    border-radius: 12px;
    box-shadow: 15px 7px 0px rgba(0, 0, 0);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    justify-content: center;
    padding: 1.25rem;
    width: 360px;
    border: 1px solid hsl(0, 0%, 7%);
}

img{
    width: 100%;
    border-radius: 7px;
}

p{
    color: hsl(0, 0%, 42%);
}

.learning_block p{
    padding: 7px;
    background-color: hsl(47, 88%, 63%);
    color: hsl(0, 0%, 7%);
    font-weight:800;
    border-radius: 5px;
}

h1{
    font-size: 1.5rem;
    font-weight: 800;
}

h1:hover{
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}

.profile{
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile img{
    width: 25px;
}

.profile p{
    color: hsl(0, 0%, 7%);
    font-weight: 700;
}